{% extends 'base.html' %}

{% block title %}Корзина{% endblock %}


{% block content %}
    {% include 'menu.html' %}
    <div class="container mt-3">




    {% if not cart %}

    <div class="col-lg-6 col-md-9 col-sm-12 order-md-2 mb-4 mx-auto" style="padding-top: 25px;">
        <p>

        </p>
        <h2 class="text-muted">В корзине пока что нет товаров</h2>
    </div>

{% else %}

    <div class="row">
        <div class="col-lg-6 col-md-9 col-sm-12 order-md-2 mb-4 mx-auto" style="padding-top: 25px;>
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Ваша корзина</span>
                <span class="badge badge-secondary badge-pill">{{ cart|length }}</span>
            </h4>
            <ul class="list-group mb-3">

                {% for value in cart.values %}
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">{{ value.product.title}}</h6>
                            <small class="text-muted">{{ value.product.description }}</small>
                        </div>
                        <span class="text-muted">{{ value.quantity }}</span>
                    </li>
                {% endfor %}

            </ul>
            <form class="card p-2" action="{% url 'cart:order' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Заказать</button>

         <style>
            .button {
             background-color: yellow;
             border: none;
             color: blue;
             padding: 8px 15px;
             text-align: center;
              text-decoration: none;
              display: inline;
              font-size: 25px;
              margin: 2px 1px;
              cursor: pointer;
  }
                </style>
                  </head>
                  <body>
                    <a href="/cart/remove/" class="button">Oчистить корзину</a>
                  </body>

    </div>
    </div>
{% endif %}
    {% if messages %}
    {% for message in messages %}
    <p></p>
    <p class="text-success text-center">{{ message }}</p>
    {% endfor %}
{% endif %}

    </div>
{% endblock %}