{% extends 'registration/base.html' %}


{% block title %}Create an account{% endblock %}


{% block form %}
    <div>
{% if user.is_anonymous %}


<form class="form-signin" method="post" action="{% url 'register' %}">

  <input type="hidden" name="next" value="">
  <img class="mb-4" src="/static/logo.svg" alt="" width="72" height="72">

    <a href="/">На главную.</a>
    {% csrf_token %}

    <h1 class="h3 mb-3 font-weight-normal">Создать аккаунт</h1>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email"
         value="" required="" autofocus="" data-cip-id="inputEmail">

    <label for="inputFirst_name" class="sr-only">First_name</label>
    <input type="text" id="inputFirst_name" class="form-control" placeholder="Ваше имя" name="first_name"
         value="" required="" autofocus="" data-cip-id="inputFirst_name">

    <label for="inputPhone" class="sr-only">Phone</label>
    <input type="tel" id="inputEmail" class="form-control" placeholder="+375**1234567" name="phone"
         value="" required="" autofocus="" data-cip-id="inputPhone">

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль"
         name="password" required="" data-cip-id="inputPassword">

    <input type="password" id="inputPassword" class="form-control" placeholder="Повторите пароль"
         name="password2" required="" data-cip-id="inputPassword">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Создать</button>
</form>
    {% else %}
    <p class="text-success">{{ user|upper}}, Вы уже зарегистрированы. <br> <a href="{{ '/' }}">Перейти на главную</a></p>
    {% endif %}
    <p>Магазин стоковой одежды 𝐋𝐢𝐬𝐢𝐜𝐀 | OUTLET  <a href="https://www.instagram.com/lisica_outlet/"><img src=" /static/image/instagram.png" height="32" alt="Istagramm"></a></p> </p>
</div>

{% endblock %}