<footer class="container">
    <div class="row">
    <div class="col col-lg-2">
            Режим работы: <h6>Пн-Вс 11:00-20:00 </h6>
            Самовывоз: <h6>г. Минск, ул. Нарочанская, 4/163</h6>
            Мы в <a href="https://www.instagram.com/lisica_outlet/"><img src=" /static/image/instagram.png" height="27" alt="Istagramm"></a> <a href="https://t.me/+D99k2h_NwZ5mYTBi"><img src=" /static/image/tg.png" height="33" alt="Telegramm"></a>

        </div>
    <div class="col-md-auto">
        <div style="text-align: center;">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae39dcad3e8e0e56384973aeb7e655f35ef2783c4b3f31a4667610971b335d68a&amp;source=constructor" width="360" height="220" frameborder="0"></iframe>&ensp;&ensp;&ensp;&ensp;&ensp;</div>
        </div>
    <div class="col">
        <div style="text-align: center;">
            <br>
            <a class="weatherwidget-io" href="https://forecast7.com/ru/53d9027d56/minsk/" data-label_1="Погода в" data-label_2="МИНСК" data-font="Arial Black" data-icons="Climacons Animated" data-shadow="rgba(65, 63, 63, 0.12)" data-textcolor="#ffb700" data-highcolor="#db0000" data-lowcolor="#113daf" data-suncolor="#ffb534" data-mooncolor="#f5f5ce" data-cloudcolor="#85858d" data-cloudfill="#797373" data-raincolor="#0004ff" data-snowcolor="#0091fd" >Погода в МИНСК</a>
                <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                </script>
    </div>
    </div>
    </div>
</footer>