{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}

     <main role="main">
        {% for article in articles %}
            <div>
                <div class="alert alert-Secondary alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                        <h2 class="display-5"><img src="{% static '/image/fox_b.gif' %}" alt="image" width="100">{{ article.name }} </h2>
                        <h4>&shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy;{{ article.text }} &shy; &shy; &shy;  <img src="{% static '/image/down.gif' %}" alt="image" width="15"> </h4>
                    </div>
                    </div>
                </div>
                <div class="container mb-3">
                    <div class="row">
                        {% for product in article.products.all %}
                            <div class="col-md-4">
                            <div class="card" style="width:18.8rem; margin-bottom:30px;">
                                <h5> &shy; &shy;&shy;<img src="{% static '/image/new_m.gif' %}" alt="image" width="35"> {{ product.title }} </h5>
                                   <a href="{{ product.get_absolute_url }}">
                                     <img src="{{ product.image.url }}" width="300">
                                   </a>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
